{% extends "base_generic.html" %}

{% block content %}
  <h1>Plataforma de Servicios</h1>
  <p>Publica ofertas y solicitudes de servicios!</p>
  <h2>Categorías</h2>
    {% if list_subcategory %}
   <ul>   
    {% for subcat in list_subcategory %}
    <li><strong><a href="">{{ subcat }}</a></strong>, {{subcat.category}}</li>
    
    {% endfor %}
   </ul>
    {% else %}
    <p>No se puede mostrar.</p>
    {% endif %}  
  
 <p class="text-muted">Hay <strong>{{ num_services }}</strong> publicaciones disponibles</p>
  <hr>
    {% if num_services_available %}
  <ul>
    {% for service in num_services_available %}
      <li>
        <a href="{{ service.get_absolute_url }}">{{ service.title }}</a> ({{service.subcategory}})
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No hay servicios publicados.</p>
  {% endif %}   
{% endblock %}